@model string
@{
}
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/modal.css">
</head>
<body>
    <div id="overlay"></div>
    <div class="popup">
        <div class="form-popup">
            <div class="form-element">
                <h2>@Model</h2>
            </div>
            <div class="form-element">
                <button onclick="redirectToPage()">Go to main page</button>
            </div>
        </div>
    </div>
    <script>

        const overlay = document.querySelector("#overlay");
        const modal = document.querySelector(".popup");

        $(document).ready(function () {
            overlay.style.display = "block";
            modal.classList.add("active");
        });

        function redirectToPage() {
            window.location.href = '@Url.Action("Index", "Map")';
        }
    </script>
</body>
</html>