@using Domain.Enums
@model Domain.ViewModels.AdminPanel.AdminPanelAccountViewModel


                    <h2>User card</h2>
                    <form class="row g-3" asp-action="ChangeRoleOfAccount" asp-controller="AdminPanel" method="post">
                        <input asp-for="Id" hidden>
                        <div class="form-element">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" readonly>
                        </div>
                        <div class="form-element">
                            <label asp-for="Login" class="form-label">Login</label>
                            <input asp-for="Login" type="text" class="form-control" readonly>
                        </div>
                        <div class="form-element">
                            <label asp-for="AccountConfirmed" class="form-label">Account is confirmed</label>
                            <input asp-for="AccountConfirmed" type="text" class="form-control" readonly>
                        </div>
                        <div class="form-element">
                            <select asp-for="@Model.Role" asp-items="Html.GetEnumSelectList<Role>()">
                                <option value="@Model.Role">@Model.Role</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <button>Submit</button>
                        </div>
                    </form>
