@model string
@{
}
<form method="post" asp-action="ConfirmChangingRole" asp-controller="AdminPanel">
    <p>Are you sure you want to edit role?</p>
    <input name="id" value="@Model" hidden/>
    <button type="submit" class="btn btn-success">Confirm</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
</form>