@model int  
@{
}
<form method="post" asp-action="DeleteUser" asp-controller="AdminPanel">
    <p>Are you sure you want to delete?</p>
    <input name="id" value="@Model" hidden/>
    <button type="submit" class="btn btn-success">remove</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
</form>