@using Domain.Enums
@model Domain.ViewModels.AdminPanel.AdminPanelLocationViewModel

<div class="location-container">
    <form asp-action="ConfirmLocation" asp-controller="AdminPanel" method="post">
        <div class="row">
            <div class="input-group">
                <input type="text"
                       id="name"
                       placeholder="Enter location's name"
                       asp-for="Name"
                       readonly />
            </div>
            <div class="input-group">
                <input type="text"
                       id="address"
                       placeholder="Enter location's address"
                       asp-for="Address"
                       readonly />
            </div>
        </div>
        <div class="photo-container">
            @*<div class="photo-content">
                <label class="photo-label">
                    <span class="photo-span">Add Photo</span>
                    <input type="file" asp-for="Photo"
                           accept=".png,.jpg,.JPG" name="Photo" required />
                </label>
                <span class="text-danger" asp-validation-for="Photo" data-valmsg-replace="true"></span>
            </div>*@
        </div>
        <div class="input-group">
            <textarea rows="4"
                      id="description"
                      placeholder="Enter description"
                      asp-for="Description"
                      readonly></textarea>
        </div>
        <div class="row-map">
            <div class="input-group map" id="map">
            </div>
            <div class="map-item">
                <input asp-for="Latitude" readonly>
                <input asp-for="Longitude" readonly>
            </div>
        </div>
        <div class="input-group">
            <button type="button" onclick="closeModal()">Cancel</button>
        </div>
        @if (!Model.LocationConfirmed)
        {
            <div class="input-group">
                <button>Submit</button>
            </div>
        }
    </form>
</div>
