* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --oxford-blue-dark: hsl(217, 74%, 11%);
    --oxford-blue: hsl(217, 54%, 11%);
    --light-oxford-blue: hsl(216, 50%, 16%);
    --indigo-dye: hsl(215, 32%, 27%);
    --blue-yonder: hsl(216, 20%, 55%);
    --aqua: hsla(178, 100%, 50%, 0.4);
    --white: hsl(0, 0%, 100%);
    --aqua-2: hsla(178, 100%, 50, 0.5);
    --eerie-black-2: hsl(240, 2%, 12%);
    --onyx: hsl(240, 1%, 17%);
    --smoky-black: hsl(0, 0%, 7%);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --jet: hsl(0, 0%, 22%);
    --color: #F7DC6F;
}


.location-container {
    width: 100%;
    height: 100vh;
    background-color: var(--oxford-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: var(--light-oxford-blue);
    padding: 30px;
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
}

.input-group {
    margin-bottom: 12px;
    position: relative;
}

input, textarea {
    color: var(--blue-yonder);
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid var(--blue-yonder);
    background: transparent;
    font-size: 15px;
    background-color: var(--oxford-blue-dark);
}

.photo-container {
    margin-bottom: 12px;
}

.photo-container input[type=file] { 
    outline: 0; 
    opacity: 0; 
    pointer-events: none; 
    user-select: none;

} 

.photo-container .photo-label { 
    color: var(--blue-yonder);
    width: 100%; 
    border: 2px dashed var(--blue-yonder); 
    border-radius: 5px; 
    display: block; 
    padding: 1.2em; 
    transition: border 300ms ease; 
    cursor: pointer; 
    text-align: center;
    background-color: var(--oxford-blue-dark);
}


.photo-container .photo-label i { 
    display: block; 
    font-size: 42px; 
    padding-bottom: 16px;
} 

.photo-container .photo-label:hover{ 
    border: 2px solid var(--blue-yonder);
} 

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

.map {
    width: 90%;
    min-width: 450px;
    height: 200px;
    border-radius: 4px;
    border: 2px solid var(--blue-yonder);
}

.add-location {
    padding: 10px;
    color: var(--aqua);
    outline: none;
    background: transparent;
    border: 1px solid var(--blue-yonder);
    width: 100%;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: var(--blue-yonder);
}

button:hover {
    background-color: var(--indigo-dye);
    color: var(--white);
    transition: .3s;
}

.map-item {
    margin-left: 10px;
}

.map-item p {
    color: var(--aqua);
    padding: 5px;
}

.row-map {
    display: flex;
    justify-content: space-between;
}