/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.imgur.com/8ympVDj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    margin: 0;
    transition: .5s;
}

body.active {
    background-image: url(https://i.imgur.com/yxqxsNQ.jpg);
    transition: .5s;
}

/*Container*/

.container{
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

/*Block*/

.block {
    height: 100%;
    background-color: rgba(42, 8, 5, 0.5);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.block__item {
    width: 50%;
}

/*Элементы Блока*/

.block-item {
    text-align: center;
}

.block-item__title {
    font-size: 1.2rem;
    font-weight: 500px;
    color: #D3C9AE;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #D3C9AE;
    color: #2A0805;
    font-size: 15px;
    font-weight: 500px;
}

/*Блок Формы*/

.form-box {
    display: flex;
    align-items: center;
    background-color: #D3C9AE;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.form-box.active {
    left: 50%;
}

/*Форма*/

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2A0805;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: solid 1.5px #2A0805;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #2a0805;
    color: #D3C9AE;
    padding: 10px 50px;
}

.from__btn__signup {
    background-color: #2a0805;
}

.form__forgot {
    color: #2A0805;
}

/*Адаптация*/

@media (max-width: 992px) {
    .container {
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .block-item {
        width: 100%;
        padding: 30px 0;
    }
    
    .form-box {
        width: 100%;
        height: 500px;
        box-shadow: none;
        top: 0;
    }
    
    .form-box.active {
        top: 150px;
        left: 0;
    }
}

/*Роль*/

.select {
    position: relative;
}
.select select {
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 1.5px solid #2A0805; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #2A0805;
}
.select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}

/*Сайд Бар*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #2a0805;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #D3C9AE;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #D3C9AE;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #450E09;
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
    display: block
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #D3C9AE;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #D3C9AE;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #450E09;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #D3C9AE;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a0805;
    padding: 12px 0;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details{
    background: none;
}
.sidebar.close .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    padding: 5px 5px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #D3C9AE;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px 10px 10px 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #D3C9AE;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}
.home-section{
    position: relative;
    height: 100vh;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 0;
    width: calc(100% - 78px);
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #D3C9AE;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 400px) {
.sidebar.close .nav-links li .sub-menu{
    display: none;
}
.sidebar{
    width: 78px;
}
.sidebar.close{
    width: 0;
}
.home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
}
.sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
}
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    display: flex;
    z-index: 1000;
    background-color: #D3C9AE;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #2a0805;
    width: 30%;
    border-radius: 20px;
}

.close-modal {
    margin-top: -30px;
    color: #2a0805;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-input {
    margin: 15px;
    width: 40%;
    border: solid 1px #2A0805;
    border-radius: 10px;
    padding-left: 10px;
}

.photo-search {
    direction: row;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.photo-modal {
    margin-top: 15px;
    width: 25px;
    height: 25px;
    border: none;
}

.modal-name {
    color: #2A0805;
}
