/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: var(--oxford-blue);
}

:root {
    --oxford-blue-dark: hsl(217, 74%, 11%);
    --oxford-blue: hsl(217, 54%, 11%);
    --light-oxford-blue: hsl(216, 50%, 16%);
    --indigo-dye: hsl(215, 32%, 27%);
    --blue-yonder: hsl(216, 20%, 55%);
    --aqua: hsla(178, 100%, 50%, 0.4);
    --white: hsl(0, 0%, 100%);
    --aqua-2: hsla(178, 100%, 50, 0.5);
    --eerie-black-2: hsl(240, 2%, 12%);
    --onyx: hsl(240, 1%, 17%);
    --smoky-black: hsl(0, 0%, 7%);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --jet: hsl(0, 0%, 22%);
    --color: #F7DC6F;
    --color-2: #D3C9AE;
    --color-3: rgba(247, 220, 111, .5);
}

.container{
  display: flex;
}

/* MAin Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 70px;
}

/*Attendance List serction  */
.attendance{
  margin-top: 20px;
  text-transform: capitalize;
}

h1 {
    color: var(--aqua);
}

.not-active {
    color: var(--white);
}

.attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: var(--light-oxford-blue);
  border-radius: 10px;
  box-shadow: 0 20px 35px var(--shadow-5);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: var(--aqua);
  background: var(--oxford-blue-dark);
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
}
.table tbody tr{
  border-bottom: 1px solid var(--aqua);
}
.table tbody tr:nth-of-type(odd){
  background: var(--indigo-dye);
}
.table tbody tr.active{
  font-weight: bold;
  color: var(--aqua);
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid var(--aqua);
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  color: var(--blue-yonder);
  border: 1px solid var(--blue-yonder);
}
.table button:hover{
  background: var(--oxford-blue-dark);
  transition: 0.2rem;
  color: var(--white);
}

.under-table {
    position: relative;
    background-color: var(--light-oxford-blue);
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    color: var(--aqua);
}

.under-btn-1 {
    padding: 6px 23%;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
}

.under-btn-2 {
    position: absolute;
    padding: 6px 23%;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
    right: 0;
    margin-right: 15px;
}

button:hover {
    background: var(--indigo-dye);
    color: var(--white);
    transition: .3s;
}

.data {
    position: absolute;
    padding: 6px 10%;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
    right: 0;
    margin-right: 15px;
    right: 16px;
}

.einzug {
    top: 200px;
}

.einzug-2 {
    top: 230px;
}

.upper-table {
    position: relative;
    background-color: var(--light-oxford-blue);
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
}

.upper-btn-1 {
    text-align: center;
    padding: 6px 15%;
    border-radius: 10px;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
}

.upper-btn-2 {
    padding: 6px 23%;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
    right: 0;
    margin-right: 15px;
}

.sub-btn {
    position: relative;
    background-color: var(--light-oxford-blue);
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
}

.sub-btn-1 {
    position: absolute;
    padding: 6px 10%;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: var(--aqua);
    border: 1px solid var(--blue-yonder);
    top: -10px;
    right: 0;
}

input::placeholder {
    color: var(--indigo-dye);
}

option {
    background-color: var(--indigo-dye);
    color: var(--aqua);
    text-align-last: center;
}
