@model Domain.ViewModels.Account.ChangePasswordViewModel
@{
}
            
            <h2>Change password</h2>
            <form class="row g-3" asp-action="ChangePasswordInAccount" asp-controller="Account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Token" hidden>
                <div class="form-element">
                    <label asp-for="CurrentPassword" class="form-label">Current password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control">
                </div>
                <div class="form-element">
                    <label asp-for="NewPassword" class="form-label">New password</label>
                    <input asp-for="NewPassword" type="password" class="form-control">
                </div>
                <div class="form-element">
                    <label asp-for="NewPasswordConfirm" class="form-label">Confirm new password</label>
                    <input asp-for="NewPasswordConfirm" type="password" class="form-control">
                </div>
                <div class="form-element">
                    <button type="submit">Submit</button>
                </div>
            </form>