@model Domain.ViewModels.Account.FormEmailViewModel
@{

}

            <form asp-action="SendRequestToChangingPassword" asp-controller="Account" method="post">
                <div class="form-element">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" type="email">
                    <span class="text-danger" asp-validation-for="Email" data-valmsg-replace="true" id="Error"></span>
                </div>
                <div class="form-element">
                    <button>Submit</button>
                </div>
            </form>


    