@model Domain.ViewModels.Account.FormEmailViewModel
@{
}

@using (Html.BeginForm("SendRequestToChangingPassword", "Account", FormMethod.Post))
{
    <div class="mb-3">
        <label class="form-label">Login:</label>
        <div>
            <input type="text" class="form-control" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email" data-valmsg-replace="true"></span>
        </div>
    </div>
    <button>Submit</button>
}